<ion-header>
  <ion-navbar color="skyblue">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Performance Report</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <iframe src="http://nse.fastura.net/public/past-performance/" width="100%" height="100%"></iframe>
</ion-content>
