<ion-header>
  <ion-navbar color="skyblue">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Chart</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <iframe src="http://nse.fastura.net/nse/chart.html" frameborder="0" height="100%" width="100%" ></iframe>
</ion-content>
