page-levels {
    th{
        background-color:skyblue;
      }
  .col {
      border: solid 1px gray;
      border-bottom-style: none;
      border-right-style: none;
      }
  
  .col:last-child {
      border-right: solid 1px grey;
  }
  .row:last-child .col {
      border-bottom: solid 1px grey;
  }
  .row{
  border:15px;
  }
}
