<ion-header>
  <ion-navbar color="skyblue">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Holidays</ion-title>
  </ion-navbar>
</ion-header>
  <ion-content>
    <ion-card style="margin-top:40px">
      <div class="row header" >
             <div class="col" width="10" style="background-color:skyblue;text-align: center;"><h2>Date</h2></div>
             <div class="col" style="background-color:skyblue;text-align: center;"><h2>Holidays</h2></div>
             </div>
              <div class="row" *ngFor="let item of items">
             <div class="col"><p> {{ item.date}} <br/> {{ item.day }} </p></div>
             <div class="col"><p> {{ item.subject }} </p></div>
             </div>
       </ion-card>
   
      <ion-fab right bottom>
          <button ion-fab color="skyblue"><ion-icon name="share"></ion-icon></button>
          <ion-fab-list side="left">
            <button ion-fab (click)="shareFB()"><ion-icon color="primary" name="logo-facebook"></ion-icon></button>
            <button ion-fab (click)="sharewap()"><ion-icon color="secondary" name="logo-whatsapp"></ion-icon></button>
            <button ion-fab (click)="sharetwit()"><ion-icon color="primary" name="logo-twitter"></ion-icon></button>
            <button ion-fab (click)="moreshare()"><ion-icon color="primary" name="share"></ion-icon></button>
          </ion-fab-list>
        </ion-fab>      
    </ion-content>